# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Environment variables
.env*
!.env.example

# iOS/Android build artifacts
ios/
android/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
*.swp
*.swo

# IDEs
.vscode/
.idea/
